# Diretórios e arquivos gerados
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.lock

# Arquivos do sistema
*.DS_Store
*.log
*.swp
*.class
*.pyc

# Arquivos do VS Code
.vscode/

# Arquivos do Android Studio
*.iml
.idea/
.gradle/
local.properties

# Chaves e credenciais (caso tenha)
key.jks
*.keystore

# Arquivos do iOS (Xcode)
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/.generated/
xcuserdata/

# Arquivos do Windows (caso esteja gerando para Windows)
windows/
